
@{
    ViewBag.Title = "Register";
}
<br />
<br />

<h2>Register</h2>

<br />
<br />
<p>First Name :</p>
<input />
<br />
<br />
<br />
<p>Last Name :</p>
<input />
<br />
<br />
<br />
<p>Passwored</p>
<input />
<br />
<br />
<br />
<p>Confirm Passwored :</p>
<input />
<br />
<br />
<br />
<p>Email :</p>
<input />
<br />
<br />
<br />
<button>Submit</button>